absl-py==2.1.0
aiobotocore
aiofiles==23.2.1
aiohttp
aioitertools
aiosignal
alabaster
alembic==1.13.1
altair
amqp==5.3.1
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
applaunchservices
appnope
appscript
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
asttokens
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attrs==25.1.0
Authlib==1.6.1
Automat
autopep8
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
billiard==4.2.1
binaryornot
black
bleach
blinker
blis==0.7.11
bokeh
boltons
boto3==1.34.14
botocore==1.34.162
Bottleneck
Brotli
cachetools
catalogue==2.0.10
celery==5.3.4
certifi==2024.8.30
cffi
chardet
charset-normalizer==3.3.2
click
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpathlib==0.16.0
cloudpickle
clyent==1.2.1
colorama
colorcet
comm
compose==1.6.2
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli==1.0.75
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
confection==0.1.5
constantly
construct==2.10.68
construct-typing==0.5.6
contourpy
cookiecutter
cryptography
cssselect
curl_cffi==0.10.0
curlify==3.0.0
cycler
cymem==2.0.11
cytoolz
dask
datashader
debugpy
decorator
defusedxml
diff-match-patch
dill
distributed
distro
docker==7.1.0
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
facebook_business==23.0.1
fake-useragent==2.1.0
Faker==37.1.0
fastapi==0.104.1
fastjsonschema
filelock
flake8
Flask
flatbuffers==24.3.25
fonttools==4.25.0
frozendict==2.4.4
frozenlist
fsspec
future
gast==0.6.0
gensim
gitdb
GitPython
gmpy2
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.177.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
google-pasta==0.2.0
googleapis-common-protos==1.70.0
googlemaps==4.10.0
googlesearch-python==1.3.0
greenlet==3.1.1
grpcio==1.74.0
grpcio-status==1.71.2
h11==0.14.0
h5py==3.11.0
HeapDict
hf-xet==1.1.5
holoviews
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.4
httpx==0.25.2
huggingface-hub==0.34.2
hvplot
hyperlink
idna==3.10
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
inquirerpy==0.3.4
intake
intervaltree
ipinfo==5.2.0
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib
json5
jsonalias==0.1.1
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keras==3.9.2
keyring
kiwisolver
kombu==5.5.4
langcodes==3.5.0
language_data==1.3.0
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libclang==18.1.1
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Mako==1.3.10
marisa-trie==1.2.1
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
ml_dtypes==0.5.1
more-itertools
mpmath
msgpack
multidict
multipledispatch
multitasking==0.0.11
munkres==1.1.4
murmurhash==1.0.13
mutagen==1.47.0
mypy
mypy-extensions
namex==0.0.8
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy
numpydoc
openai==1.6.1
openpyxl==3.0.10
opt-einsum==3.3.0
optree==0.12.1
outcome==1.3.0.post0
overpy==0.7
overrides
packaging
pandas
pandas-datareader==0.10.0
pandocfilters
panel
param
parsel
parso
partd
pathlib
pathspec
patsy==0.5.3
peewee==3.17.6
pexpect
pfzy==0.3.4
pickleshare
Pillow==10.1.0
pkce
pkginfo
platformdirs
playwright==1.51.0
plotly
pluggy
ply==3.11
preshed==3.0.10
prometheus-client
prompt-toolkit
Protego
proto-plus==1.26.1
protobuf==5.29.5
psutil
psycopg2-binary==2.9.9
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycountry==24.6.1
pycparser
pycryptodomex==3.20.0
pyct
pycurl
pydantic==2.5.0
pydantic-settings==2.1.0
pydantic_core==2.14.1
pydeck
PyDispatcher==2.0.5
pydocstyle
pyee==12.1.1
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-CoreServices
pyobjc-framework-FSEvents
pyod==2.0.5
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
pyshorteners==1.0.1
PySocks
pytest
python-dateutil
python-dotenv==1.0.0
python-json-logger
python-lsp-black
python-lsp-jsonrpc==1.0.0
python-lsp-server
python-multipart==0.0.6
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywavelets
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
redis==5.0.1
referencing
regex
requests==2.31.0
requests-file
requests-futures==1.0.2
requests-mock==1.12.1
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
rsa==4.9.1
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
s3transfer==0.10.4
safetensors==0.5.3
scikit-image
scikit-learn
scipy
Scrapy
seaborn
segtok==1.5.11
selenium==4.29.0
semver
Send2Trash
sentence-transformers==4.0.2
service-identity
sherlock-project==0.15.0
sip
six
smart-open
smmap
sniffio
snowballstemmer
solana==0.34.3
solders==0.21.0
sortedcontainers
soupsieve
spacy==3.7.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy==2.0.23
srsly==2.5.1
stack-data
starlette==0.27.0
statsmodels
stem==1.8.2
streamlit
sympy==1.13.1
tables
tabulate
tblib
tenacity
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==2.4.0
terminado
text-unidecode
textdistance
tf_keras==2.19.0
theblockchainapi==0.0.604
thinc==8.2.5
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers==0.21.1
toml
tomlkit
toolz
torch==2.6.0
tornado
tqdm
traitlets
transformers==4.51.2
trio==0.29.0
trio-websocket==0.12.1
truststore
Twisted
typer==0.9.4
typing_extensions==4.13.2
tzdata==2025.2
tzlocal
uc-micro-py
ujson
undetected-chromedriver==3.5.5
Unidecode
uritemplate==4.2.0
urllib3==1.26.20
uvicorn==0.24.0
uvloop==0.21.0
vaderSentiment==3.3.2
validators
vine==5.1.0
w3lib
wasabi==1.1.3
watchdog
watchfiles==1.0.5
wcwidth
weasel==0.3.4
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==10.4
Werkzeug
whatthepatch
widgetsnbextension
wrapt
wsproto==1.2.0
wurlitzer
xarray
xlwings
xyzservices
yake==0.4.8
yapf
yarl
yfinance==0.2.43
yt-dlp==2024.9.27
zict
zipp
zope.interface
zstandard